.left-box{
    width:100%;
    height: 100vh;
    background-image: url(/public/images/Hero/background-regis.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}

.right-box{
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    flex-direction: column;
}

.right-box input{
    padding: 15px;
    border: 1px solid #DEDEDE;
}

.right-box button{
    padding: 15px;
}

@media screen and (max-width: 986px) {
.left-box {
    width: 100vw;
}

.white-tickitz {
    width: 70%;
}
}