.seat-flex{
    display: flex;
    justify-content:space-between;
    margin-top: 20px;
}

.choose-box{
    background: white;
    border-radius: 10px;
    padding: 100px 200px 100px 200px;
    margin-bottom: 30px;
}

.left-seat{
    border-radius: 5px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.right{
    border-radius: 5px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

